<footer>
    <div class="copy">
      <ul id="fullu">
        <li><a href="/sellall">SELLING</a></li>
        <li><a href="/kau">Know about our team</a></li>
        <li><a href="/previous-orders">Previous Orders</a></li>
      </ul>
      <ul id="full">
        <li><a href="/faq">FAQ</a></li>
        <li><a href="/complaint">Complaints</a></li>
        <li><a href="/help">Help</a></li>
      </ul>
      <ul id="ful">
        <li><a href="/license">License</a></li>
        <li><a href="/tos">Terms Of Sevice</a></li>
        <li><a href="/privacy_policy">Privacy Policy</a></li>
      </ul>
      <div class="social">Connect With Us
        <ul>
          <li><a href="https://www.instagram.com/pet/?hl=en"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="https://twitter.com/pets"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/thepetcollective/"><i class="fa-brands fa-facebook"></i></a></li>

        </ul>
      </div>
    </div>
    <div class="box"></div>
    <p id="cpr"> Copyright &copy; teamPETVERSE</p>
  </footer>