<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
        body{
            padding: 0;
            margin: 0;
        }
        .c1{
            display: flex;
            flex-wrap: wrap;
        }
        .c2{
            border: 2px solid white;
            width: calc(45% - 20px);
            margin: 20px 35px;
            box-shadow: 2px 2px 5px;
            border-radius: 6px;
        }
        p{
            padding-left: 1vw;
        }
        h3{
            text-align: center;
            font-size: 30px;
            font-family: Georgia, serif;
            letter-spacing: 3px;
        }

        .c2:nth-child(3n+1) {
            background-color: #a2c26294;
        }

        .c2:nth-child(3n+2) {
            background-color: #a262c283;
        }

        .c2:nth-child(3n) {
            background-color: #d263524e;
        }

        @media screen and (max-width: 900px) {
            .c2 {
                width: calc(100% - 40px);
            }
        }
        body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
   
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}


#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}



@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}
h3{
    height: 30px;
    margin: 25px 500px;
}

    </style>
</head>
<body>
    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>PETVERSE</h3>
            </div>

            <ul class="list-unstyled components">
                <p>ADMIN PORTAL</p>
                <li class="active">
                    <a href="/admin" data-toggle="collapse" aria-expanded="false" >HOME</a>
                    
                </li>
                <li>
                    <a href="/admin/dashboard">DASHBOARD</a>
                </li>
               
                <li>
                    <a href="/addsaloon">ADD SALOON</a>
                </li>
                <li>
                    <a href="/admin/saloon">VIEW SALOONS</a>
                </li>
                <li>
                    <a href="/viewcomplaints">VIEW COMPLAINTS</a>
                </li>
               
                <li>
                    <a href="/admin/service">VIEW SERVICES</a>
                </li>
                <li>
                    <a href="/admin/vieworders">VIEW ORDERS</a>
                </li>
                
            </ul>

            
        </nav>

        <!-- Page Content  -->
       
        <div class="im">
    <h3>COMPLAINTS</h3>
   
    <div class="c1">
        <% complaints.forEach(complaint=>{%>
            <div class="c2">
                <p>Username: <%= complaint.username %></p>
            <p>Complaints: <%= complaint.complaint %></p>
            <p>Suggestions: <%= complaint.suggestions %></p>
            <p>Products user want: <%= complaint.products %></p>
            </div>
          <% })%>
    </div>
</div>
</body>
</html>