<%-include('./partials/top.ejs') %> 
    <link rel="stylesheet" href="dogbreeds.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/ea17de72ce.js" crossorigin="anonymous"></script>
   <link rel="stylesheet" href="css/main.css">
   <link rel="stylesheet" href="css/breeds1.css">
   <link rel="stylesheet" href="css/breeds2.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</head>

<style>
  body{
 background-image: url(static/images/bg_6.jpg);

}
</style>
<body>
   
    
    <div class="header">
        <div class="text-box">
            <p>Cat Breeds..</p>
        </div>
        <div class="user-box">
            <img src="static/images/cat_2.jpg" width="100vw" height="186vh" alt="dog picture">
        </div>

    </div>
    <div class="breeds">
        <div class="container">
            <div class="one">
                <div class="card">
                    <div class="imgBx" id="#a1">
                        <img src="static/images/siberian cat.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Serbian Cat</h2> <br>
                        <p style="padding:5px;"> <b>Life expectancy </b> : 12-15 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>:brown, red, blue, silver, white, black <br></p>

                        <p style="padding:5px;"> <b>Origin</b> :Russia <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:30cm tall<br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:4.5-6.8 kgs <br>   </p>


                    </div>
                </div>
            </div>
            <div class="two">


                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/Snowshoe cat.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Snow shoecat</h2> <br>

                        <p style="padding:5px;"> <b>Life expectancy </b> :14-20 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: blue, seal, lilac and chocolate<br></p>

                        <p style="padding:5px;"> <b>Origin</b> : United States,Philadelphia <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:25 cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:3-6 kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="three">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/bombay cat.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Bombay Cat</h2> <br>



                        <p style="padding:5px;"> <b>Life expectancy </b> :15-20 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: Black <br></p>

                        <p style="padding:5px;"> <b>Origin</b> : United States,Thailand <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:28-36cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:4-7 kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/Turkishangora.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Turkish angora</h2> <br>



                        <p style="padding:5px;"> <b>Life expectancy </b> : 9-14 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: White, black, blue, red; multi-colored <br></p>

                        <p style="padding:5px;"> <b>Origin</b> : Turkey <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:20-25cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:2.3-4.5 kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="five">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/Toyger.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Toyger</h2> <br>

                        <p style="padding:5px;"> <b>Life expectancy </b> : 9-13 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: chocolate, brown,sable <br></p>


                        <p style="padding:5px;"> <b>Origin</b> :United States <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:23-33cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:4-7 kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/american shorthair.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Amercian Shorthair</h2> <br>



                        <p style="padding:5px;"> <b>Life expectancy </b> :15-20 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: white; black / ebony; red / orange; blue / ...
                            <br>
                        </p>

                        <p style="padding:5px;"> <b>Origin</b> : Europe,North AMerica <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:20-25cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:5-7 kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="seven">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/japanese bobtail.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2> Japanese Bobtail</h2> <br>



                        <p style="padding:5px;"> <b>Life expectancy </b> 9-15 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: white,black,ebony, red , orange, blue <br></p>

                        <p style="padding:5px;"> <b>Origin</b> : Japan,South East Asia <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:20-23 cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:2.7-5.4 kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/chausie.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2> Chausie</h2> <br>




                        <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 14 years <br> </p>

                        <p> style="padding:5px;"><b>Colors</b>:solid black, black grizzled tabby, and black <br></p>

                        <p style="padding:5px;"> <b>Origin</b> : Egypt <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:35-45 cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:6-9 kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="nine">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/Ragdoll (1).jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Ragdoll</h2> <br>


                        <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 15 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: white, black , ebony, red , orange,blue <br></p>

                        <p style="padding:5px;"> <b>Origin</b> : Riverside, California <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:23-28 cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:4-7kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="two">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/siamese cat (1).jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Siamese Cat
                        </h2> <br>


                        <p style="padding:5px;"> <b>Life expectancy </b> : 15-20 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: seal point, chocolate point, blue point, and lilac point
                            <br></p>

                        <p style="padding:5px;"> <b>Origin</b> : Thailand <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:29-31 cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:2.5-4.5 kgs <br>   </p>
                    </div>
                </div>
            </div>
            <div class="eleven">
                <div class="card">
                    <div class="imgBx">
                        <img src="static/images/persian cat (1).jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>Persian Cat</h2> <br>


                        <p style="padding:5px;"> <b>Life expectancy </b> : 12-17 years <br> </p>

                        <p style="padding:5px;"><b>Colors</b>: silver, blue silver, red, brown, blue, cream, cameo and
                            cream cameo <br></p>

                        <p style="padding:5px;"> <b>Origin</b> : Iran <br> </p>

                        <p style="padding:5px;"> <b>Height</b>:Adult:26-38 cm <br> </p>

                        <p style="padding:5px;"> <b>Weight</b> :Adult:2.5-4 kgs <br>   </p>
                    </div>
                </div>
            </div>

        </div>























    </div>
    </div>
    <%-include('./partials/footer.ejs') %> 

</body>

</html>