<%-include('./partials/top.ejs') %> 
    <link rel="stylesheet" href="css/breeds1.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <script src="https://kit.fontawesome.com/ea17de72ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/breeds2.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

</head>


<body>
    
   
    <div class="header">
        <div class="text-box">
            <p>Dog Breeds..</p>
        </div>
        <div class="user-box">
            <img src="static/images/dog_2.jpg" width="100vw" height="186vh" alt="dog picture">
        </div>

    </div>
    <div>
        
    </div>
    <div class="breeds">
        <div class="container">
            <div class="one">
                <div class="card">
                    <div class="imgBx" id="#a1">
                        <img src="static/images/german.jpg" alt="">
                    </div>
                    <div class="content">
                        <h2>German Shepherd</h2> <br>
                        <p style="padding:5px;"> <b>Life expectancy </b> : 9 – 13 years <br></p>
                        <p style="padding:5px;"><b>Colors</b>: Black, White, Black & Tan, Black &
                            Black,
                            Grey <br></p>
                        <p style="padding:5px;"> <b>Origin</b> : Germany <br> </p>
                        <p style="padding:5px;"> <b>Height</b>: Male: 60–65 cm <br> Female: 55–60 cm <br> </p>
                        <p style="padding:5px;"> <b>Weight</b> : Male: 30–40 kg <br> Female: 22–32 kg
                        </p>

                    </div>
                </div>
            </div>
            <div class="two">

            
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/french bulldog.jpg" alt="">
                </div>
                <div class="content">
                    <h2>French Bulldog</h2>
<br>
                    <p style="padding:5px;"> <b>Life expectancy </b> : 10 – 14 years<br> </p>

                    <p style="padding:5px;"><b>Colors</b>:White, Brindle, Fawn<br></p>

                    <p style="padding:5px;"> <b>Origin</b> : France, England <br> </p>

                    <p style="padding:5px;"> <b>Height</b>: Male: 28–30 cm <br> Female: 28–30 cm <br> </p>

                    <p style="padding:5px;"> <b>Weight</b> : Male: 10-13 kg <br> Female: 9-13 kg </p>
                </div>
            </div>
        </div>
            <div class="three">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/pomarenian.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Pomarenian</h2> <br>


                    <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 16 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>:White, Black, Blue, Red,Tan, Brown
                        <br>
                    </p>

                    <p style="padding:5px;"> <b>Origin</b> : India <br> </p>
                    <br>
                    <p style="padding:5px;"> <b>Height</b>: Adult: 20 cm <br> </p>

                    <p style="padding:5px;"> <b>Weight</b> : Adult: 1.9–3.5 kg <br> </p>
                </div>
            </div>
        </div>
        <div class="two">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/dobberman.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Dobbermann</h2> <br>

                    <p style="padding:5px;"> <b>Life expectancy </b> : 10-13 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>: Black, White, Fawn, Black & Rust, Blue & Rust, Red <br></p>

                    <p style="padding:5px;"> <b>Origin</b> :India <br> </p>

                    <p style="padding:5px;"> <b>Height</b>:Male: 66-72 cm <br> Female: 61-68 cm </p>

                    <p style="padding:5px;"> <b>Weight</b> :Male: 40-45 kg <br> Female: 32-35 kg </p>
                </div>
            </div>
        </div>
            <div class="five">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/Havanese.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Havanese</h2> <br>

                    <p style="padding:5px;"> <b>Life expectancy </b> : 14-16 years<br> </p>

                    <p style="padding:5px;"><b>Colors</b>:White, Black, Havana Brown, Mahogany, Fawn, Tobacco<br></p>

                    <p style="padding:5px;"> <b>Origin</b> : cuba <br> </p>

                    <p style="padding:5px;"> <b>Height</b>: Adult: 23-27 cm <br> </p>

                    <p style="padding:5px;"> <b>Weight</b> : Adult: 4.5-7.3 kg<br> </p>
                </div>
            </div>
        </div>
        <div class="two">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/Golden Retriver.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Goldern Retriever</h2> <br>

                    <p style="padding:5px;"> <b>Life expectancy </b> : 10-12 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>:Dark Golden, Light Golden, Cream, Golden <br></p>

                    <p style="padding:5px;"> <b>Origin</b> : United Kingdom <br> </p>

                    <p style="padding:5px;"> <b>Height</b>:Male:56–61 cm <br> Female: 51–56 cm </p>

                    <p style="padding:5px;"> <b>Weight</b> :Male: 30–34 kg <br> Female: 25–32 kg </p>
                </div>
            </div>
        </div>
            <div class="seven">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/Afghan Hound.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Afghan Hound</h2> <br>

                    <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 14 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>:Black, Cream, Red <br></p>

                    <p style="padding:5px;"> <b>Origin</b> :Afghanistan <br> </p>

                    <p style="padding:5px;"> <b>Height</b>: Male: 68–74 cm <br> Female: 60–69 cm <br> </p>

                    <p style="padding:5px;"> <b>Weight</b> : Male: 26–34 kg <br> Female: 26–34 kg </p>
                </div>
            </div>
        </div>
        <div class="two">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/Chihuahua.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Chihuahua</h2> <br>


                    <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 20 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>: White, Black, Fawn, Chocolate, Cream, Gold<br></p>

                    <p style="padding:5px;"> <b>Origin</b> : Mexico <br> </p>

                    <p style="padding:5px;"> <b>Height</b>: Adult: 15-23 cm <br> </p>

                    <p style="padding:5px;"> <b>Weight</b> : Adult: 1.5-3 kg <br> </p>
                </div>
            </div>
        </div>
            <div class="nine">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/shiba inu.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Shiba Inu</h2> <br>

                    <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 15 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>: Red Sesame, Black Sesame, Black & Tan, Cream<br>
                    </p>

                    <p style="padding:5px;"> <b>Origin</b> : Japan <br> </p>

                    <p style="padding:5px;"> <b>Height</b>:Male:35–43 cm <br> Female: 33–41 cm </p>

                    <p style="padding:5px;"> <b>Weight</b> :Male: 8–11 kg <br> Female: 6.8–9 kg </p>
                </div>
            </div>
        </div>
        <div class="two">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/siberian husky.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Siberian Husky</h2>
<br>
                    <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 15 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>: White, Black, Gray & White, Black & Tan, Silver-gray <br></p>

                    <p style="padding:5px;"> <b>Origin</b> : Siberia <br> </p>

                    <p style="padding:5px;"> <b>Height</b>:Male:53-60cm <br> Female:51-56 cm </p>

                    <p style="padding:5px;"> <b>Weight</b> :Male:20-27kg <br> Female:16–23 kg </p>
                </div>
            </div>
        </div>
            <div class="eleven">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/samoyed.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Samoyed</h2> <br>


                    <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 14 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>:White, White & Biscuit<br></p>

                    <p style="padding:5px;"> <b>Origin</b> : Russia, Siberia <br> </p>

                    <p style="padding:5px;"> <b>Height</b>:Male:53–60 cm <br> Female:48–53 cm </p>

                    <p style="padding:5px;"> <b>Weight</b> :Male: 20–30kg <br> Female:16–20 kg </p>
                </div>
            </div>
        </div>
        <div class="two">
            <div class="card">
                <div class="imgBx">
                    <img src="static/images/poodle.jpg" alt="">
                </div>
                <div class="content">
                    <h2>Poodle</h2> <br>

                    <p style="padding:5px;"> <b>Life expectancy </b> : 12 – 15 years <br> </p>

                    <p style="padding:5px;"><b>Colors</b>: Black, White, Apricot, Cream, Black <br></p>

                    <p style="padding:5px;"> <b>Origin</b> : Germany, France <br> </p>

                    <p style="padding:5px;"> <b>Height</b>:Adult:41-61cm <br> </p>

                    <p style="padding:5px;"> <b>Weight</b> :Adult: 20-31 kg </p>
                </div>
            </div>
        </div>
    </div>























    </div>
    </div>
    <%-include('./partials/footer.ejs') %> 
</body>

</html>