<%-include('./partials/top.ejs') %> 
    <link rel="stylesheet" href="css/faq.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <script src="https://kit.fontawesome.com/ea17de72ce.js" crossorigin="anonymous"></script>
</head>

<body>
    
    <header>
        <nav>
            <div>
                <a href="/"><img src="static/images/logo.jpeg" alt=""></a>
            </div>
            <h2 id="faq">Frequently Asked Questions</h2>

        </nav>
    </header>
    <div class="question">
        <h3>Q: What types of pets do you provide information about on your website?</h3><br>
        <p> A: We provide information about a wide variety of pets, including dogs, cats.</p>
        <br>
        <h3>Q: Can I adopt a pet through your website?</h3><br>
        <p> A: No, we do not facilitate pet adoptions through our website. However, we can provide information
            about reputable animal shelters and rescues in your area.</p>
        <br>
        <h3>Q: How do I know if my pet is sick?</h3><br>
        <p> A: Signs of illness can vary depending on the type of pet you have, but common symptoms include loss
            of appetite, lethargy, vomiting, diarrhea, and changes in behavior. If you're concerned about your
            pet's health, it's always best to consult with a veterinarian.</p>
        <br>
        <h3>Q: What kind of food should I feed my pet?</h3><br>
        <p> A: The type of food your pet needs depends on their species, age, and health status. In general,
            it's best to choose a high-quality pet food that is appropriate for your pet's life stage and
            nutritional needs. Your veterinarian can provide specific recommendations.</p>
        
        <h3>Q: How often should I take my pet to the vet?</h3><br>
        <p> A: It's important to take your pet to the vet for regular check-ups and preventative care. The
            frequency of visits may vary depending on your pet's age and health status, but most pets should see
            a veterinarian at least once a year.</p>
        <br>
        <h3>Q: How can I train my pet?</h3><br>
        <p> A: Training methods can vary depending on the type of pet you have, but positive reinforcement is
            often the most effective approach. You can find resources for training your pet on our website or
            through a professional dog trainer or animal behaviorist.</p>
        <br>
        <h3>Q: How do I know if my pet is getting enough exercise?</h3><br>
        <p> A: The amount of exercise your pet needs depends on their species, breed, and age. In general, dogs
            should get at least 30 minutes of moderate exercise per day, while cats and small mammals may
            require less. Consult with your veterinarian to determine the appropriate amount of exercise for
            your pet.</p>
        <br>
        <h3>Q: What should I do if my pet gets lost?</h3><br>
        <p> A: If your pet gets lost, contact local animal shelters, rescues, and veterinary clinics to see if
            they have any information about your pet. You can also post on social media and put up flyers in
            your neighborhood. Microchipping your pet can also help ensure they are reunited with you if they
            become lost.</p>
        <br>
    </div>
    <%-include('./partials/footer.ejs') %> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
</body>

</html>