<%-include('./partials/top.ejs') %> 
    <link rel="stylesheet" href="css/license.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />

    <script src="https://kit.fontawesome.com/ea17de72ce.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="/"><img src="static/images/logo.jpeg" alt=""></a>
            </div>
            <h2 id="head">License Information</h2>

        </nav>
    </header>

    <div class="license">

        <h3>1.Copyright:</h3><br>
        <p>The images and text on this website are either owned by us or have been licensed for use. Unauthorized use of
            any content on this site is strictly prohibited. You may not reproduce, distribute, modify, display, or
            transmit any content on this website without our prior written permission.</p>
        <br>

        <h3>2.Trademarks:</h3> <br>
        <p>All trademarks on this site are the property of their respective owners. Use of any trademarks without
            permission is strictly prohibited.</p>
        <br>
        <h3>3.Animal-Related Licenses:</h3><br>
        <p>We comply with all local and national laws regarding the ownership and care of animals. Any information we
            provide regarding the ownership, care, and handling of pets is for informational purposes only and should
            not be construed as legal advice. It is your responsibility to ensure that you comply with all applicable
            laws and regulations regarding the ownership and care of pets.</p>
        <br>
        <h3>4.Privacy:</h3><br>
        <p>We take the privacy of our users seriously and follow all applicable laws and regulations regarding the
            collection and use of personal information. Please see our Privacy Policy for more information about how we
            collect, use, and protect your personal information.</p>
        <br>
        <h3>5.Terms of Service:</h3><br>
        <p>By using this website, you agree to be bound by our Terms of Service. Please read them carefully before using
            the site. Our Terms of Service govern your use of the site, including any content or services provided on
            the site.</p>
        <br>

        <h3>6.Links to Other Sites:</h3><br>
        <p>This website may contain links to other websites that are not under our control. We are not responsible for
            the content or privacy practices of these sites. We provide these links for your convenience and do not
            endorse or recommend any products, services, or information provided on these sites.</p>
        <br>

        <h3>7.Disclaimer of Warranties:</h3><br>
        <p>This website and its content are provided "as is" without any warranty of any kind, either express or
            implied, including but not limited to the implied warranties of merchantability, fitness for a particular
            purpose, or non-infringement.</p>
        <br>

        <h3>8.Limitation of Liability:</h3><br>
        <p>In no event shall we be liable for any damages (including, without limitation, damages for loss of data or
            profit, or due to business interruption) arising out of the use or inability to use the content on this
            website, even if we have been notified of the possibility of such damage.</p>
        <br>

    </div>

    <%-include('./partials/footer.ejs') %> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
</body>

</html>