<%-include('./partials/top.ejs') %> 
  <style>
    .invalid {
      border: 2px solid red;
    }
    .invalid {
      border: 2px solid red;
    }
    .full{
      display: flex;
      flex-wrap: wrap;
      height: 100%;
      margin-top: 7px;
       }
       .form{
        width: 750px;
        border-radius: 1px solid #bababa;
        height: 100%;
       }
       #my-form{
        width: 593px;
        margin-top: 19px;
        margin-left: 82px;
       }
       label{
        margin-top: 10px;
        margin-bottom: 2px;
        margin-left: 0px;
        margin-right: 0px;
       }
       .pa{
        font-size: 40px;
        margin: 0px 640px;
        font-family: 'Nanum Gothic', sans-serif;
        margin-top: 30px;
       }
       legend{
        margin-left: 29px;
        color: #747474;
        margin-top: 50px;
       }
       .form2{
        
        background-color: white;
        margin-top: 39px;
        width: 561px;
       }
       .ok{
        width: 100px;
        margin: 20px;
       }
       .again{
        display: flex;
        flex-wrap: wrap;
       }
       img{
        width: 70px;
       }
       .one{
        display: flex;
        flex-wrap: wrap;
        border-bottom: 1px solid #00000040;
             }
             h4{
              padding: 10px;
              margin-left: 310px;
             }
  </style>
  <link rel="stylesheet" href="css/payment.css">
</head>
<body>
  <p class="pa"><b>PAYMENT</b></p>
  <div class="full">
  <div class="form">    
<legend>PAYMENT DETAILS</legend>

  <form id="my-form" action="/saloonticket">
    <label for="name">Name:</label>
    <input type="text" id="name" placeholder="Sathwik" required>

    <label for="address">Address:</label>
    <input type="text" id="address" placeholder="FlatNo:XXXXXX   CityPin:XXXXXX" required>

    <label for="account-number">Account Number:</label>
    <input type="text" id="account-number" placeholder="XXXX XXXX XXXX" required>

    <label for="cvv">CVV:</label>
    <input type="password" id="cvv" placeholder="XXX" required>

    <label for="exp-date">Expiry Date:</label>
    <input type="text" id="exp-date" placeholder="MM/YYYY" required>

    <button type="submit">Place Order</button>
  </form>

</div>

</div>
</div>