<%-include('./partials/top.ejs') %> 
    <link rel="stylesheet" href="css/privacy_policy.css">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://kit.fontawesome.com/ea17de72ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav>
               <div class="k"> <a href="/"><img src="static/images/logo.jpeg" alt="" ></a>
                <p>Privacy Policy</p></div>
           
        </nav>
    </header>
    <pre>
        <br>
    At [Petverse], we take your privacy seriously. This Privacy Policy outlines the types of information we collect, how we use it, and how we protect your information when you use 
    our website.

<b>What information do we collect?</b>
When you use our website, we may collect the following types of information:

Personal information, such as your name, email address, phone number, and billing address.
Payment information, such as credit card numbers or other payment information.
Information about your pet(s), including breed, age, and health information.
Website usage information, including your IP address, browser type, and operating system.  


<b>How do we use your information?</b>
We may use your information in the following ways:

To process your orders and payments.
To provide customer support and respond to your inquiries.
To send you marketing emails or newsletters (you may opt-out at any time).
To improve our website and services.
To comply with legal requirements.
How do we protect your information?
We take reasonable precautions to protect your personal information from unauthorized access, use, or disclosure.
 We use industry-standard encryption to protect your payment information and maintain physical and electronic safeguards to protect all other information.


<b>Do we share your information with third parties?</b>
We may share your information with third parties in the following circumstances:

To process your payments or orders.
To comply with legal requirements.
To improve our website and services.
With your consent.
We will not sell or rent your personal information to third parties for marketing purposes.

<b>Do we use cookies?</b>

Yes, we use cookies to improve your experience on our website. Cookies are small data files that are stored on your device
 and help us remember your preferences and understand how you use our website. You can disable cookies in your browser settings if you prefer not to use them.

<b>Changes to this Privacy Policy</b>
We may update this Privacy Policy from time to time. If we make any significant changes, we will notify you by email or by posting a notice on our website.

<b>Contact Us</b>
If you have any questions about this Privacy Policy, please contact us at through as of given handle.

<b>Effective Date</b>
This Privacy Policy is effective as of [Date].
</pre>
<%-include('./partials/footer.ejs') %> 
</body>
</html>