<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <style>
        .cart {
            margin-top: 30px;
            /* border: 2px solid black; */
            border-radius: 5px;
            height: 350px;
            display: flex;
            flex-direction: column;

        }

        .one img {
            border: 1px solid black;
            margin-left: 14px;

        }

        .two {
            font-size: 40px;
            margin-left: 500px;
        }

        .three p {
            font-size: 25px;
            margin-left: 80px;
        }
        .p1{
            display: flex;
            align-items: center;
            border: 2px solid black;
        }
        header {
    background-image: linear-gradient(to right, #eef3f6, #00ffff61);
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border-top: 1.5px solid black;
}
#head {
    text-align: center;
    font-size: 5vw;
    color: rgb(0, 0, 0);
    padding-left: 22%;
    padding-top: 2%;
    /* padding-left: 33%;
    padding-top: 5%; */
}

nav{
    display: flex;
}
    </style>
</head>

<body>

    <header>
        <nav>
            <div>
                <a href="\"><img src="static/images/logo.jpeg" alt=""></a>
            </div>
            <h2 id="head">Pets...</h2>

        </nav>
    </header>
    <div class="cart">
        <div class="p1">
            <div class="one">
                <img src="static/images/german.jpg">
            </div>
            <div class="three">
                <p><b>German Shepard</b></p>
                <p>Age:10 months</p>
                <p>Weight: 5kgs</small></p>
                <p>Location:Hyderabad</p>
                <p>Price:Rs.20,000</p>
                <p>Contact Number:9872534256</p>
            </div>
        </div>
        <div class="p1">
            <div class="one">
                <img src="static/images/Toyger.jpg">
            </div>
            <div class="three">
                <p><b>Toyger</b></p>
                <p>Age:18 months</p>
                <p>Weight: 4kgs</small></p>
                <p>Location:Delhi</p>
                <p>Price:Rs.23,000</p>
                <p>Contact Number:8746534256</p>
            </div>
        </div>
    </div>
</body>

</html>