<%-include('./partials/top.ejs') %> 
    <link rel="stylesheet" href="css/license.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/main.css">

    <script src="https://kit.fontawesome.com/ea17de72ce.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="\"><img src="static/images/logo.jpeg" alt=""></a>
            </div>
            <h2 id="head">Terms of Service</h2>

        </nav>
    </header>

    <div class="license">
        



 



 
 
<br>
        <div class="terms">
            <p>  Welcome to our pet website! By using our website, you agree to the following terms of service:
                 Together<br> with our Privacy Policy  the following terms and conditions (collectively referred to as the Terms) govern<br> the use of this website. 
                 If you continue to browse and use this website, you are agreeing to comply with <br>and be bound by the Terms, 
                 including but not limited to any additional   or amended terms or conditions as<br> applicable from time to time.
            </p>
            <br>
            <h2>Use of Content</h2><br>
            <p>All content on our website, including but not limited to text, images, and videos, is the property of our<br> website and may not be reproduced or distributed without our prior written consent.</p>
            <br>
            <h2>Modification of Terms</h2> <br>
            <p>We reserve the right to modify these terms of service at any time, and your continued use of our website<br> following any changes constitutes your acceptance of the modified terms.</p>
            <br>
            <h2> Prohibited Conduct</h2> <br>
            <p>You may not use our website for any illegal or unauthorized purpose. You may not interfere with the<br> proper functioning of our website or attempt to gain unauthorized access to our website. You may not<br> use our website to harass, abuse, or harm others.</p>
            <br>
            <h2><b>Privacy And Your Personal Information</b></h2> <br>
            <p>For information about the Company’s data protection practices, please read the Company’s Privacy<br> Policy, which is hereby incorporated into these Terms. This policy explains how the Company treats your<br> personal information when you access and use the Services. The policy may be updated from time to<br> time at our discretion. Changes will be effective upon posting to the Services.</p>
            <br>
            <h2>Release of Claims</h2> <br>
            <p>In no event will the Company be liable to any party for any type of direct, indirect, special, incidental, or<br> consequential damages for any use of or reliance on our Site or its Content.  You hereby release the<br> Company from any and all claims including those related to personal or business interruptions,<br>misapplication or information, or any other loss, condition, or issue.</p>
            <br>
            <h2>Disclaimers</h2> <br>
            <p>You agree to use the Products only as instructed by the manufacturer. You understand that Products may contain materials that could be dangerous if handled improperly, and it is your responsibility to use the Products in accordance with the Product labels and instructions provided by the manufacturer. You acknowledge that the Company is not liable for any personal injury or property damage arising from any use of any Products offered through this Website.</p>
            <br>
            <h2>Termination</h2> <br>
            <p>Your failure to comply with the Terms automatically revokes your authorization to use the website.</p>
            </div> <br>

        
    </div>

    <%-include('./partials/footer.ejs') %> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
</body>

</html>