<%-include('./partials/top.ejs') %> 
    <link rel="stylesheet" href="css/license.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="css/main.css">

    <script src="https://kit.fontawesome.com/ea17de72ce.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
        <nav>
            <div>
                <a href="\"><img src="static/images/logo.jpeg" alt=""></a>
            </div>
            <h2 id="head">Why Petverse?</h2>

        </nav>
    </header>

    <div class="license">
        



 



 
 

        <h3>1. Unique content:</h3><br>
        <p>Petverse offers unique content that can't be found elsewhere, such as exclusive articles, videos, or interviews with experts in the pet industry.</p>
        <br>

        <h3>2.Personalized experience:</h3> <br>
        <p>A Petverse offer a more personalized experience for pet owners, such as customized pet care plans or recommendations based on their specific pet's needs.</p>
        <br>
        <h3>3.User-friendly design:</h3><br>
        <p>Petverse is designed to be user-friendly and intuitive, making it easy for pet owners to find what they're looking for and navigate through the site.</p>
        <br>
        <h3>4.Trustworthy information:</h3><br>
        <p> Petverse is known for providing trustworthy and reliable information, backed by research and expertise in the field of pet care.</p>
        <br>
        <h3>5.Community engagement:</h3><br>
        <p>Petverse foster a sense of community among pet owners through forums, social media, or other interactive features that allow users to connect with each other and share advice and experiences.
        </p>
        <br>

        <h3>6.Customer service:</h3><br>
        <p>Petverse provide excellent customer service, with responsive support staff who are knowledgeable about pet care and can help answer any questions or concerns.</p>
        <br>

        
    </div>

    <%-include('./partials/footer.ejs') %> 
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="main.js"></script>
</body>

</html>