body{
    display: inline-block;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Jost', sans-serif;
   
}
.main{
    width: 650px;
    height: 545px;
    
    overflow: hidden;
    background:transparent;
    border-radius: 10px;
    box-shadow: 5px 20px 50px #000;
    margin: 0;
    position: absolute;
    left: 30%;
}

#chk{
    display: none;
}
.signup{
    position: relative;
    width: 100%;
    height: 100%;
    
   
}
.input_group{
    display: flex;
    flex-wrap: wrap;
}
label{
    font-family: 'Tilt Neon', cursive;
color:#028b98;;
font-size: 40px;
justify-content: center;
display: flex;
margin: 50px;
margin-bottom: 38px;
font-weight: bold;
cursor: pointer;
transition: .1s ease-in-out;
}
 input{
    /* width: 30%; */
    height: 20px;
    background: #fff;
    justify-content: center;
    display: flex;
    
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    width: 200px;
    border: 2px solid black;
    margin: 10px;
    
       
    
}
button{
    width: 25%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background: #697173;
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 12px;
    transition: .2s ease-in;
    cursor: pointer;
}
button:hover{
    background: #242222;

}
.login{
    height: 460px;
    background: linear-gradient(#1d636a,#0fc0cd,#2fafc9);
   
    border-radius: 40% 40% 0% 0%;
    transform:translateY(-180px);
    transition:.8s ease-in-out;
    position: absolute;
    top: 620px;
    width: 654px;
}
.login label{
    color: #e7ebeb;
    font-size: 56px;
    transform: scale(.6);
    margin-top: 22px;
}
#chk:checked ~ .login{
    transform: translateY(-500px);
}
#chk:checked ~ .login label{
    transform: scale(1);
}
#chk:checked ~ .signup label{
    transform: scale(.6);
}

.input_field {
    background-color: aliceblue;
    margin: 7px;
    border-radius: 3px;
    display: flex;
    align-items: center;
}
.input_field i {
    margin: 15px;
    color: gray;
}

.login .input_field{
    background-color: transparent;
    margin: 0px 159px;
}
.login p{
    margin-left: 346px;
    margin-top: -4px;
    font-size: 13px;
    left: 20px;
}
@media(max-width:1000px){
    .main{
        height: 49%;
        left: 0;
    }
    input{
        width: 150px;
    }
}
@media(max-width:780px){
    .main{
        height: 52%;
        left: 0;
    }
    input{
        width: 150px;
    }
}
@media(max-width:920px){
    .main{
        height: 42%;
        left: 0;
    }
    input{
        width: 150px;
    }
}
@media(max-width:1025px){
    .main{
        height: 50%;
        left: 0;
    }
    input{
        width: 150px;
    }
}


@media(max-width:750px){
    .main{
        height: 62%;
        left: 0;
        width: 100%;
    }
    input{
        width: 120px;
    }
}
@media(max-width:650px){
    .main{
        height: 63%;
        width: 100%;
    }
    input{
        width: 90px;
    }
    label{
        display: block;
    }
    .login p {
        margin-left: 220px;
        margin-top: -4px;
        font-size: 13px;
        left: 20px;
    }
    .login{
        border-radius: 0% 0% 0% 0%;
    }
}
@media(max-width:400px){
    .main{
        height: 62%;
        width: 100%;
    }
    input{
        width: 60px;
    }
    label{
        display: block;
    }
    .login p {
        margin-left: 220px;
        margin-top: -4px;
        font-size: 13px;
        left: 20px;
    }
    button{
        margin: 10px 25%;
    }
    .login{
        border-radius: 0% 0% 0% 0%;
    }
}
@media (max-height:814px){
    .main{
        height: 69%;
    }
}
@media (max-height:764px){
    .main{
        height: 75%;
    }
}
@media (max-height:764px){
    .main{
        height: 78%;
    }
}
@media (max-height:650px){
    .main{
        height: 88%;
    }
}