@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
}

.logo {
    width: 16.624vw;
    height: 14.95vh;
    margin-bottom: -5px;
}

nav {
    display: flex;
}


header {
    background-image: linear-gradient(to right, #eef3f6, #00ffff61);
    border-left: 1.5px solid black;
    border-right: 1.5px solid black;
    border-top: 1.5px solid black;
}

#team span{
    font-style: italic;
}

body{
    background-color: rgb(246, 246, 246);
    font-family: 'Roboto', sans-serif;
}

.container{
    margin: 20px 40px;
    color: white;
}

#team{
    font-size: 8vw;
    color: rgb(0, 0, 0);
    padding-left: 22%;
    padding-top: 2%;
    
}

.profiles{
    display: flex;
    justify-content: space-around;
    margin: 20px 80px;
    flex-wrap: wrap;
}

/* 160,220,235 */

.profile{
    flex-basis: 230px;
    background-color: rgb(152, 218, 230);
    border-radius: 5%;
    margin-bottom: 20px;
    padding: 10px;
}

.profile .profile-img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    

}

.profile h5{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #0e0c0c;
}

.profile h3{
    text-align: center;
}


footer {
    height: 200px;
    width: 100%;
    background-image: linear-gradient(white, rgb(137, 208, 208));
}

.copy {
    display: flex;
    justify-content: end;
    padding-top: 21px;
    padding-right: 100px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.copy #ful li {
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.copy #ful {
    border-right: 0.5px solid red;
    border-left: 0.5px solid red;
}

footer .box {
    background-color: red;
    height: 0.5px;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

#cpr {
    margin: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.social {
    margin-left: 20px;
    height: 21px;
    width: 113px;
}

#ful a {
    text-decoration: none;
    color: black;
}

.social ul li {
    list-style: none;
    padding: 10px;
}

.social ul {
    display: flex;
}

.copy #full li {
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;
    padding-right: 60px;
    padding-left: 60px;
}

#full a {
    text-decoration: none;
    color: black;
}

.copy #full {
    border-left: 0.5px solid red;
}

.copy #fullu li {
    list-style: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 30px;
    padding-top: 50px;
}

.copy #fullu {
    display: flex;
    padding-right: 150px;
}

.copy #fullu a {
    text-decoration: none;
    color: black;
}

@media (max-width:675px){
    #team{
        padding-left: 10%;
    }
}